/* Reset & Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    /* background: linear-gradient(135deg, #f0f4ff, #d9e8ff); */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #6a5acd;
    color: white;
    width: 100vw;
    margin-bottom: 2rem;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li {
    list-style: none;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ffdd57;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

/* Container */
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #514e4e54;
    box-shadow: 0 1px 1px #6b66661a;
    width: 100%;
    max-width: 1000px;
}

h2 {
    color: #3f357e;
    margin-bottom: 10px;
}

.sub-title {
    color: #555;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 60px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 1px 1px #504b4bc4;
}

button:hover {
    background: #218838;
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.success-message {
    color: #28a745;
    font-weight: bold;
    display: none;
    margin-top: 10px;
}

.submit-button{
    text-align: center;
}