* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
}

.menu-card{
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.184);
    max-width: 75vw;
    margin: 0px auto;
    margin-top: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #6a5acd;
    color: white;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar .nav-links li {
    list-style: none;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ffdd57;
}
