
.container {
    max-width: 75%;
    margin: 0px auto;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    font-size: large;
}

h2, h3 {
    color: #6a5acd;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 20px;
    color: #666;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.info-table td, .info-table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.primary-btn, .secondary-btn, .delete-btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.primary-btn { 
    background: #ffffff;
    border: 1px solid blue;
    color: white; 
    color: black;
    font-size: 1rem;
}
.secondary-btn, .delete-btn { 
    background: #ffffff; 
    border: 1px solid red;
    /* text-shadow: 1px 1px #ff0000; */
    color: rgb(0, 0, 0); }

.form-card input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
