/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
    margin: 0;
    padding: 0;
    height: 100vh;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #6a5acd;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li {
    list-style: none;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ffdd57;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.user-welcome {
    font-size: 16px;
    font-weight: 600;
}

/* Container */
.container {
    background: white;
    border-radius: 12px;
    padding: 25px;
    margin: 40px auto;
    max-width: 1100px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border: 1px solid rgba(0, 0, 0, 0.149);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #34495e;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* Table */
.table-container {
    overflow-x: auto;
    border: 1px solid #ddd;
    /* border-radius: 8px; */
    max-height: 500px;
    overflow-y: auto;
    background-color: #f8f8f8;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: #6a5acd;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

th {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

tbody tr {
    background-color: white;
    transition: background-color 0.3s ease;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.view-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4facfe;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.view-btn:hover {
    background-color: #00c6ff;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: white;
    background-color: #34495e;
    margin-top: 20px;
    border-top: 4px solid #4facfe;
}


/* Responsive */
@media (max-width: 768px) {
    .navbar-content {
        flex-direction: column;
        text-align: center;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    th, td {
        padding: 10px;
        font-size: 12px;
    }

    .view-btn {
        font-size: 12px;
        padding: 4px 8px;
    }
}
