* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f5;
    padding-top: 80px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a5acd;
    color: white;
    padding: 15px 50px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffdd57;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


h2 {
    text-align: center;
    color: #6a5acd;
    margin-bottom: 1rem;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}
.filters input, .filters select {
    padding: 10px;
    font-size: 14px;
    width: 180px;
}
.filters button {
    padding: 10px 15px;
    background-color: #594abd;
    color: white;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
th {
    background-color: #594abd;
    color: white;
}
.download-section {
    text-align: right;
    margin-top: 15px;
}
.download-section button {
    background-color: #594abd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}